@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.front{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    background: radial-gradient(
        rgba(158, 158, 158, 0.096),
        rgba(0, 0, 0, 0.88)
    );
}

.wrap{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
}
.box01{
    width: 100%;
    padding-top: 150px;
    text-align: center;
}
.box02{
    width: 100%;
    padding-top: 30px;
    text-align: center;
    
}
.box03{
    width: 100%;
    padding-top: 430px;
    text-align: center;
}
.box04{
    width: 100%;
    padding-top: 50px;
    text-align: center;
}
/* sub 페이지 */
.bo1{
    background-image: url(img/bg1.png);
    width: 430px;
    height: 932px;
    position: relative;
}
.bo1 > .pic1 {
    position: absolute;
    width: 317px;
    height: 163px;
    left: 68px;
    top: 253px;
}
.bo1 > .pic2 {
    position: absolute;
    width: 221px;
    height: 46px;
    left:105px;
    top: 595px;
}
.bo1 >.p1{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.5px;
    top: 444px;
    left: 98px;
    color: white;   
}
.bo2 {
    position: relative;
    background-image: url(img/bg2.png);
    width: 430px;
    height: 856px;
}
.bo2 >.pic1 {
    position: absolute;
    width: 198px;
    height: 256px;
    top: 62px;
    left: 110px;
}
.bo2 >.pic2{
    position: absolute;
    width: 314px;
    height: 486px;
    left: 58px;
    top: 230px;
}
.bo2 > .p {
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: -0.5px;
    top: 40px;
    left: 163px;
    color: black; 
}
.bo2 >.tit1 {
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.5px;
    top: 380px;
    left: 25px;
    color: black;
}
.bo2 >.p1 {
    position: absolute;
    text-align: right;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 8px;
    font-weight: 300;
    letter-spacing: -0.5px;
    top: 400px;
    color: black;
}
.bo2 >.tit2 {
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.5px;
    top: 468px;
    left: 300px;
    color: white;
}
.bo2 >.p2 {
    position: absolute;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 6px;
    font-weight: 300;
    letter-spacing: -0.5px;
    top: 490px;
    left:300px;
    color: white;
}
.bo3 {
    position: relative;
    background-image: url(img/bg3.png);
    width: 430px;
    height: 477px;
}
.bo3 > .tit{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgb(33, 33, 33);
    top: 260px;
    left: 40px;
}
.bo3 > .p{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13.2px;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: rgb(33, 33, 33);
    top: 313px;
    left: 42px;
}
.bo4 {
    position: relative;
    background-color: white;
    width: 430px;
    height: 432px;
}
.bo4 > .tit{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: rgb(33, 33, 33);
    top: 120px;
    left: 75px;
}
.bo4 > .pic{
    position: absolute;
    width: 317px;
    height: 377px;
    left: 162px;
    top: 100px;
}
.bo4 > .p{
    position: absolute;
    text-align: right;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: rgb(33, 33, 33);
    top: 165px;
    left: 25px;
}
.bo5 {
    position: relative;
    background-color: white;
    width: 430px;
    height: 599px;
}
.bo5 > .pic{
    position: absolute;
    width: 364px;
    height: 370px;
    left: -39px;
    top: 180px;
}
.bo5 > .tit{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: rgb(33, 33, 33);
    top: 180px;
    left: 172px;
}
.bo5 > .p{
    position: absolute;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: rgb(33, 33, 33);
    top: 218px;
    left: 175px;
}
.bo6 {
    position: relative;
    background-color: white;
    width:430px ;
    height: 397px;
}
.bo6 > .pic{
    position: absolute;
    width: 504px;
    height: 312px;
    left: 116px;
    top: 135px;
}
.bo6 > .tit{
    position: absolute;
    text-align: right;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: rgb(33, 33, 33);
    top: 278px;
    left: 50px;
    z-index: 1;
}
.bo6 > .p{
    position: absolute;
    text-align: right;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: rgb(33, 33, 33);
    top: 350px;
    left: 70px;
}
.bo7 {
    position: relative;
    background-image: url(img/bg4.png);
    width: 430px;
    height: 507px;
}
.bo7 > .tit{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.2px;
    color: rgb(255, 255, 255);
    top: 278px;
    left: 133px;
}
.bo7 > .p{
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.2px;
    color: rgb(255, 255, 255);
    top: 320px;
    left: 66px;
}
.bo7 > .pic{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 460px;
    left: 190px;
}
.bo8 {
    position: relative;
    background-color: #1C1C1C;
    width: 430px;
    height: 512px;
}
.bo8 > .pic1{
    position: absolute;
    left: 330px;
    top: 130px;
}
.bo8 > .pic2{
    position: absolute;
    top: 200px;
}
.bo8 > .pic3{
    position: absolute;
    top: 200px;
    left: 80px;
}
.bo8 > .p {
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    top: 488px;
    left: 120px;
    z-index: 1;
}
.bo9 {
    position: relative;
    background-color: #1C1C1C;
    width: 430px;
    height: 512px;
}
.bo9 > .pic1{
    position: absolute;
    left: 330px;
    top: 130px;
}
.bo9 > .pic2{
    position: absolute;
    top: 200px;
}
.bo9 > .pic3{
    position: absolute;
    top: 180px;
    left: 50px;
}
.bo9 > .p {
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 9px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 1;
    color: rgb(255, 255, 255);
    top: 480px;
    left: 43px;
    z-index: 1;
}
.bo10 {
    position: relative;
    background-color: #1C1C1C;
    width: 430px;
    height: 686px;
}
.bo10 > .pic1{
    position: absolute;
    left: 330px;
    top: 130px;
}
.bo10 > .pic2{
    position: absolute;
    top: 200px;
    z-index: 3;
}
.bo10 > .pic3{
    position: absolute;
    top: 180px;
    left: 70px;
}
.bo10 > .p {
    position: absolute;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 9px;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 1;
    color: rgb(255, 255, 255);
    top: 620px;
    left: 60px;
    z-index: 1;
}
.bo11{position: relative;
    background-color: gray;
    height: 156px;
    width: 430px;
}
.bo11 > .pic1{
    position: absolute;
    top: 30px;
    left: 160px;
}
.bo11 > .pic2{
    position: absolute;
    top: 100px;
    left: 22px;
}